################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AGL.Test.Solution.Console/bin/Debug/netcoreapp2.0
/AGL.Test.Solution.Console/obj
/AGL.Test.Solution.Data.WebApi/bin/Debug/netstandard2.0
/AGL.Test.Solution.Data.WebApi/obj
/AGL.Test.Solution.Domain/bin/Debug/netstandard2.0
/AGL.Test.Solution.Domain/obj
/AGL.Test.Solution.Tests/bin/Debug
/AGL.Test.Solution.Tests/obj/Debug
/Fp.Common/bin/Debug/netstandard2.0
/Fp.Common/obj
/packages
/.vs/AGL.Test.Solution/v15/sqlite3
/.vs/AGL.Test/v15
/.vs/ProjectSettings.json
/.vs/VSWorkspaceState.json
*.sqlite
